#jinja2: trim_blocks: True, lstrip_blocks: True
{% macro ifcfg_bond(bond, proto, mtu, mode) %}
  {% include "templates/ifcfg_bond.j2" %}
{% endmacro %}
{% macro ifcfg_nic(bond, nic) %}
  {% include "templates/ifcfg_nic.j2" %}
{% endmacro %}
---
apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  creationTimestamp: null
  labels:
    machineconfiguration.openshift.io/role: {{ item["role"] }}
  name: 11-mc-{{ item["role"] }}-bonding
spec:
  config:
    ignition:
      version: 2.2.0
    storage:
      files:
      {% for bond in item["bonds"] %}
      - path: /etc/sysconfig/network-scripts/ifcfg-{{ bond["name"] }}
        contents:
          source: data:;base64,{{ ifcfg_bond(bond["name"], bond["proto"], bond["mtu"], bond["mode"]) | b64encode }}
        filesystem: root
        mode: 420
      {% for nic in bond["members"] %}
      - path: /etc/sysconfig/network-scripts/ifcfg-{{ nic }}
        contents:
          source: data:;base64,{{ ifcfg_nic(bond["name"], nic) | b64encode }}
        filesystem: root
        mode: 420
      {% endfor %}
      {% endfor %}
