DEVICE={{ bond }}
TYPE=Bond
NAME={{ bond }}
BONDING_MASTER=yes
BOOTPROTO={{ proto }}
ONBOOT=yes
MTU={{ mtu }}
IPV4_DHCP_TIMEOUT=2147483647
IPV6INIT=no
DHCPV6C=no
IPV6INIT=no
IPV6_AUTOCONF=no
IPV6_DEFROUTE=no
IPV6_PEERDNS=no
IPV6_PEERROUTES=no
IPV6_FAILURE_FATAL=no
BONDING_OPTS="mode={{ mode }} miimon=100"
